.cardItem {
  display: flex;
  margin: 4px 8px;
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;
  border-left: 8px solid #fff;
  cursor: pointer;
  &:hover {
    border-left: 8px solid #a6a6a6;
  }
  button {
    height: 25px;
    background-color: inherit;
    border-style: none;
    padding-right: 10px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
  }
  .content {
    line-height: 26px;
    word-break: break-all;  //非汉字换行
  }
}
// 已完成状态的样式
.cardItemCompleted {
  @extend .cardItem;
  color: #a6a6a6;
  background-color: #f7f7f7;
  border-left: 8px solid #f7f7f7;
}